<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">Home</a>
  </li>
<li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Testing Approach
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="approach.html">Testing Approach</a>
        <a href="meddisp-whenprepared.html">MedicationDispense.whenPrepared - Date Precision</a>
        <a href="medreq-authoredon.html">MedicationRequest.authoredOn - Date or Data Absent Reason</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="artifacts.html">Artefacts Summary</a>
  </li>
    <li>
    <a href="downloads.html">Downloads</a>
  </li>
</ul>